/* ==========================================================================
 Header
========================================================================== */
.header {
  background: url(../img/beach.jpg) no-repeat;
  background-size: cover;
  min-height: 500px; }
